[submodule "dependencies/Eigenx"]
	path = dependencies/eigenx
	url = git@bitbucket.org:reaktoro/eigenx.git
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = git@github.com:reaktoro/pybind11.git
