# Build directories
*build*
*external*

# Conda files
environment.yml

# LyX backup files
*.lyx#
*.lyx~

# Eclipse IDE related files
.cproject
.project
.pydevproject
.settings/

# SublimeText editor related files
*.sublime-project
*.sublime-workspace

# Python related files
*.py[cod]
__pycache__/
.pytest_cache/

# Visual Studio Code related files
.vscode
