name: optima

{% set python_version = os.environ.get("PY_VER", "3.10") %}

channels:
  - conda-forge

dependencies:
  - catch2=2
  - ccache  # [unix]
  - clangxx_osx-64  # [osx]
  - clcache  # [win]
  - cmake
  - eigen
  - gxx_linux-64  # [linux]
  - lld  # [unix]
  - make
  - ninja
  - numpy
  - pip
  - pybind11
  - pybind11-abi
  - pybind11-stubgen
  - pytest
  - pytest-xdist
  - python={{ python_version }}
  - vs2019_win-64  # [win]
  - pip:
    - mkdocs
    - mkdocs-macros-plugin
    - mkdocs-material
    - pytest-regressions
